#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

In [5]:
engine = sqlalchemy.create_engine(f"mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats")
engine

Engine(mysql+pymysql://guest:***@relational.fit.cvut.cz/stats)

#### 4. Import the users table

In [14]:
users = pd.read_sql_query ("Select * from users limit 100", engine)
users

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,116,101,2010-07-19 20:16:27,Wilka,2014-02-28 14:17:13,http://plus.wilka.co.uk,"Newcastle, United Kingdom","<p><a href=""https://plus.google.com/1063254489...",2,9,0,1031,35.0,None
96,117,123,2010-07-19 20:17:05,Andrey Popp,2011-09-26 18:25:37,http://braintrace.ru,"St. Petersburg, Russia",<p>Optimist</p>\n,4,1,0,61375,27.0,None
97,118,473,2010-07-19 20:17:12,Dave Kincaid,2014-07-27 21:20:12,None,"Eau Claire, WI",None,60,46,0,168972,NaN,None
98,119,139,2010-07-19 20:20:15,Vicente Cartas,2010-07-22 20:02:48,http://kartones.net/blogs/jadengine,"Madrid, Spain",Freelance .NET Developer\\n<br>\\n<br>\\n<ul>\...,12,0,0,66227,33.0,None
99,120,101,2010-07-19 20:21:35,Nicojo,2011-06-24 01:29:28,None,None,None,3,1,0,103997,NaN,None

#### 5. Rename Id column to userId

In [15]:
users = users.rename(columns = {'Id':'userid'})

users.head()

,userid,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [16]:
posts = pd.read_sql_query ("Select * from posts limit 100", engine)
posts

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,102,2,NaN,2010-07-19 20:32:14,1,NaN,"<p>For me <a href=""http://nvac.pnl.gov/agenda....",22.0,2010-11-23 20:42:01,None,...,NaN,0,NaN,22.0,2010-11-23 20:42:01,NaT,44.0,NaT,None,None
96,103,1,NaN,2010-07-19 20:33:26,28,1990.0,<p>What is the best blog on data visualization...,5.0,2012-10-24 15:02:27,What is your favorite data visualization blog?,...,16.0,6,37.0,88.0,2012-01-22 20:18:39,2010-07-19 20:33:26,NaN,NaT,None,None
97,104,2,NaN,2010-07-19 20:34:46,16,NaN,<p>A frequency table is a good place to start....,74.0,2010-07-19 20:34:46,None,...,NaN,0,NaN,NaN,NaT,NaT,97.0,NaT,None,None
98,105,2,NaN,2010-07-19 20:35:34,19,NaN,"<p><a href=""http://flowingdata.com/"" rel=""nofo...",46.0,2012-10-24 14:50:25,None,...,NaN,1,NaN,615.0,2012-10-24 14:50:25,2010-07-19 20:35:34,103.0,NaT,None,None
99,107,2,NaN,2010-07-19 20:36:01,11,NaN,"<p><a href=""http://infosthetics.com/"" rel=""nof...",46.0,2012-10-24 14:52:13,None,...,NaN,0,NaN,615.0,2012-10-24 14:52:13,2010-07-19 20:36:01,103.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [17]:
posts = posts.rename(columns = {'Id':'postId','OwnerUserId':'userid'})

posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userid,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [22]:
new_users = users[['userid','Reputation','Views','UpVotes','DownVotes']].copy()
                  
new_users.head()

   userid  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [27]:
new_posts = posts[['postId','Score','userid','ViewCount','CommentCount']].copy()

new_posts.head()

   postId  Score  userid  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [31]:
merged_df = pd.merge(left=new_users, right=new_posts, on = 'userid')

merged_df

,userid,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,5,6792,1145,662,5,6,152,29229.0,5
1,5,6792,1145,662,5,12,20,NaN,1
2,5,6792,1145,662,5,32,12,NaN,0
3,5,6792,1145,662,5,49,6,NaN,0
4,5,6792,1145,662,5,64,6,NaN,0
...,...,...,...,...,...,...,...,...,...
91,88,14082,3320,4235,126,99,7,NaN,1
92,93,96,3,2,0,80,8,NaN,2
93,96,441,80,18,0,72,6,NaN,0
94,114,708,61,44,1,97,35,14608.0,1
95,117,123,4,1,0,100,4,3918.0,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [32]:
# Missing values on the ViewCount column

merged_df.isnull().sum()

userid           0
Reputation       0
Views            0
UpVotes          0
DownVotes        0
postId           0
Score            0
ViewCount       60
CommentCount     0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [33]:
# Replaced null values on view counts with 0

merged_df['ViewCount'].fillna(0)

0     29229.0
1         0.0
2         0.0
3         0.0
4         0.0
       ...
91        0.0
92        0.0
93        0.0
94    14608.0
95     3918.0
Name: ViewCount, Length: 96, dtype: float64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [37]:
merged_df.dtypes

userid            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [40]:
merged_df['userid'] = merged_df['userid'].astype('string')
merged_df['postId'] = merged_df['postId'].astype('string')

merged_df.dtypes

userid           string
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId           string
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.