#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/sakila')

#### 4. Import the users table

In [4]:
# importo la tabla de users del DB a un pandas

users_table = pd.read_sql_query('SELECT * FROM stats.users', engine)

users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [5]:
users_table.rename(columns={'Id':'userId'}, inplace = True)
users_table.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [6]:
# importo la tabla de posts del DB a un pandas

posts_table = pd.read_sql_query('SELECT * FROM stats.posts', engine)

posts_table.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts_table.rename(columns={'Id':'postId', 'OwnerUserId': 'userId'}, inplace = True)
posts_table.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
# creo un nuevo pd DataFrame solo con la informacion que se me pide para las dos tablas

new_users_table = users_table[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
new_posts_table = posts_table[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [45]:
# hago un merge con innner join de los nuevos pd df usando "userId" como key

df = new_users_table.merge(new_posts_table, how = 'inner',on = 'userId')
df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [15]:
# empiezo a explorar como se ve mi df

df.shape

(90584, 9)

In [21]:
#aqui checo donde y cuantos valores NA tengo

df.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [18]:
# para tomar la decision de si elimino o substituyo los valores quiero explorar las caracteristicas
# de mi df primero. con df.describe() me puedo dar una buena idea de lo que hay adentro de mi df.

df.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,42188.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,556.656158,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,2356.930779,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,1.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,53.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,126.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,367.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

In [26]:
# hago un df solamente con los NAs para explorar las caracteristicas de esas filas y encontrar algun
# patron que pueda explicar los NAs.

null_viewc = df[df['ViewCount'].isnull() == True]
null_viewc

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90518,55605,1,2,0,0,115106,0,NaN,0
90521,55609,1,1,0,0,115115,2,NaN,0
90528,55621,1,1,0,0,115213,0,NaN,0
90536,55637,26,4,0,0,115170,1,NaN,0
90575,55729,16,1,0,0,115338,0,NaN,0

In [40]:
# Despues de ver la tabla de los NAs inicialmente parece haber una relacion con CommentCounts.
# primero pense que CommentCounts = 0 siempre daba NA en ViewCounts pero al analizar esto
# me doy cuenta de que no es asi. 

null_viewc['CommentCount'].value_counts()

0     21925
1      8335
2      6362
3      3832
4      2538
5      1674
6      1140
7       769
8       556
9       378
10      251
11      161
12      141
13       94
14       60
15       46
16       43
17       21
18       14
19       13
24        7
20        6
22        6
21        5
30        5
41        2
23        2
28        2
37        1
45        1
25        1
35        1
26        1
34        1
27        1
31        1
Name: CommentCount, dtype: int64

In [50]:
# AL pensarlo no se me hace logico que un post tenga comments > views. 
# si hay un comment es porque tuvo que haber un view. Por lo tanto decido llenar los NAs con 
# el valor correspondiente de la columna "CommentCounts" ya que considero esto la mejor aproximacion
# a la realidad ya que puede ser que haya habido views que no dejaron un comment pero no puede haber
# comments sin que haya habido un view. 

fill_na = null_viewc['CommentCount']
fill_na.shape

(48396,)

In [47]:
df['ViewCount'] = df['ViewCount'].fillna(fill_na)
df['ViewCount'].isnull().sum()

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [52]:
df.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [53]:
df['ViewCount'] = df['ViewCount'].astype('int64')
df.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [55]:
stats = df.describe().transpose()
stats

,count,mean,std,min,25%,50%,75%,max
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0
ViewCount,90584.0,260.164577,1632.117960,0.0,1.00,6.0,111.00,175495.0
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0

In [56]:
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,260.164577,1632.117960,0.0,1.00,6.0,111.00,175495.0,110.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [57]:
outliers = pd.DataFrame(columns=df.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df[(df[col] < lower) |
                   (df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [58]:
outliers['Outlier'].value_counts()

DownVotes       17424
UpVotes         14097
Reputation      13344
Views           13255
ViewCount       12886
Score            8549
CommentCount     3860
Name: Outlier, dtype: int64