#### 1. Import pandas library

In [26]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [27]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

In [44]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [66]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)
users.head(3)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

In [30]:
#data = data.to_csv('Repo.csv', index=False)

#### 5. Rename Id column to userId

In [67]:
"""
Antes de hacer el cambio imprimos el nombre de las columnas para mostrar el cambio
"""
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

In [68]:
users.rename(columns={'Id':'userId'}, inplace=True)
users.columns

##Aqui esta el cambio

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [7]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

In [71]:
posts_table = pd.read_sql_query('SELECT * FROM stats.posts', engine)
posts_table.head(3)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [72]:
"""
Antes de hacer el cambio imprimos el nombre de las columnas para mostrar el cambio
"""
posts_table.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [76]:
posts_table.rename(columns={'Id':'userId', 'OwnerUserid':'userId'}, inplace=True)
posts_table.columns

##Aqui esta el cambio

Index(['userId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [80]:
users2= users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
users2.head(3)

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0

In [81]:
posts_table2= posts_table[['PostTypeId', 'Score','userId','ViewCount','CommentCount']]
posts_table2.head(3)

#No encontre postId, pero si PostTypeId

   PostTypeId  Score  userId  ViewCount  CommentCount
0           1     23       1     1278.0             1
1           1     22       2     8198.0             1
2           1     54       3     3613.0             4

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [82]:
users_posts= pd.merge (posts_table2, users2, on='userId')
users_posts.head(3)

,PostTypeId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,22,2,8198.0,1,101,25,3,0
1,1,54,3,3613.0,4,101,22,19,0
2,1,13,4,5224.0,2,101,11,0,0

In [83]:
##Solo por curiosidad, cambiamos de lugar las tablas

posts_users= pd.merge (users2, posts_table2, on='userId')
posts_users.head(3)

,userId,Reputation,Views,UpVotes,DownVotes,PostTypeId,Score,ViewCount,CommentCount
0,2,101,25,3,0,1,22,8198.0,1
1,3,101,22,19,0,1,54,3613.0,4
2,4,101,11,0,0,1,13,5224.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [85]:
users_posts.isnull().sum()

PostTypeId          0
Score               0
userId              0
ViewCount       19011
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

In [84]:
posts_users.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
PostTypeId          0
Score               0
ViewCount       19011
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [94]:
posts_users['ViewCount'] = posts_users['ViewCount'].fillna(0)
users_posts.head(3)

#Decidi llenar con ceros

,PostTypeId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,22,2,8198.0,1,101,25,3,0
1,1,54,3,3613.0,4,101,22,19,0
2,1,13,4,5224.0,2,101,11,0,0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [95]:
posts_users.dtypes

"""
Como no hablamos de una columna afectada por alguna medida de dispersion o tendencia central, esperariamos que se trate
de un valor entero. 

"""

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
PostTypeId        int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [96]:
posts_users['ViewCount'] = posts_users['ViewCount'].astype('int64')
posts_users.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
PostTypeId      int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.