#### 1. Import pandas library

In [65]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

In [4]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [12]:
users = pd.read_sql_query('SELECT * FROM users', engine)

In [14]:
users.head(2)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None

#### 5. Rename Id column to userId

In [15]:
users = users.rename(columns = {'Id':'userId'})
users.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [33]:
posts = pd.read_sql_query('SELECT * FROM posts', engine)

In [34]:
posts.head(2)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [35]:
posts = posts.rename(columns = {'Id':'postId','OwnerUserId':'userId'})
posts.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [23]:
users2 = users[['userId','Reputation','Views','UpVotes','DownVotes']]
users2.head(2)

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0

In [36]:
posts2 = posts[['postId','Score','userId','ViewCount','CommentCount']]
posts2.head(2)

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [51]:
users_posts = users2.merge(posts2)
users_posts.tail(100)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
90484,55541,1,7,0,0,115153,0,12.0,0
90485,55541,1,7,0,0,115296,0,13.0,0
90486,55543,1,0,0,0,115007,0,9.0,1
90487,55545,138,3,1,0,115011,7,185.0,4
90488,55553,1,1,0,0,115018,0,13.0,1
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [38]:
users_posts.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [39]:
users_posts.shape

(90584, 9)

In [43]:
users_posts['ViewCount'].describe()

count     42188.000000
mean        556.656158
std        2356.930779
min           1.000000
25%          53.000000
50%         126.000000
75%         367.000000
max      175495.000000
Name: ViewCount, dtype: float64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [60]:
# Tiene la mitad de registros en ViewCounts, pero solo tiene nulos en esta columna, mejor la rellenamos con 0 o con el promedio 

users_posts2 = users_posts.copy()

In [61]:
users_posts2.ViewCount.fillna(556,inplace=True)

In [62]:
users_posts2.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

In [63]:
users_posts2['ViewCount'].describe()

count     90584.000000
mean        556.305595
std        1608.469419
min           1.000000
25%         144.000000
50%         556.000000
75%         556.000000
max      175495.000000
Name: ViewCount, dtype: float64

In [ ]:
# No me encanta el resultado

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [64]:
users_posts2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

In [66]:
users_posts2.ViewCount = users_posts2.ViewCount.astype(np.int64)

In [67]:
users_posts2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.